.maindiv{
    display: flex;
    flex-direction: row;
}
.toolicon{
    padding: 5px;
}
.menuicon{
    border: none;
    background:white;
    outline: none;
}
.keep-icon1 {
    width: 10px;
    height: 10px;
}