.side-nav-container {
    width: 100%;
    height: 500px;
  }
  
  .view-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav-bar {
    padding: 20px;
    border-right: 0px;
    width: 250px;
  }
  #keep-icon {
    margin-top: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
  #keep-icon1 {
    margin-top: 5px;
      width: 30px;
      height: 30px;
      margin-left: 10px;
  }
  
  .sidenav-icon-div {
    width: 150px;
      display: flex;
      flex-direction: row;  
  }
  #fundo-text {
    margin-top: 5px;
    padding-left: 30px;
  }
   
  .search-div {
      margin-left: 7%; 
}

  .form-control {
    width: 90%;
    height: 25px;
    border: none;
    font-size: 16px;
    margin-top: -5px; 
  }

  .search-button,#search-button {
    margin-top: -11px;
  }

  input:focus,select:focus {
    outline: none;
  }  

  .search-bar {
    display: flex;
    flex-direction: row;
    width: 52vw;
    height: 15px;
    border-radius: 5px;  
  }
  .profile-button {
    margin-left: auto;
  }

  .refresh-stream-setting {
    display: flex;
    flex-direction: row;
    padding: 0vw;
  }
  .left-header {
    padding-right: 15px;
    margin-top: 20px;
  }
  
  
 


