<div>
        <header>
                <mat-toolbar>
                        <div class="sidenav-icon-div">
                                <button mat-icon-button (click)="drawer.toggle()">
                                        <mat-icon>dehaze</mat-icon>
                                </button>

                                <img id="keep-icon1" mat-card-image src="/assets/icons/google_keep.png" />

                                <div id="fundo-text">Fundo</div>
                        </div>

                        <div class="search-div">
                                <mat-card class="search-bar">
                                        <button id="search-button" mat-icon-button>
                                                <mat-icon matSuffix>search</mat-icon>
                                        </button>
                                        <input class="form-control" type="text" name="search" autocomplete="off"
                                                placeholder="search ">
                                        <button class="search-button" mat-icon-button>
                                                <mat-icon matSuffix>clear</mat-icon>
                                        </button>
                                </mat-card>
                        </div>
                        <div class="refresh-stream-setting">
                                <div class="refresh-button">
                                        <button mat-icon-button>
                                                <mat-icon matSuffix>refresh</mat-icon>
                                        </button>
                                </div>
                                <div>
                                        <button mat-icon-button>
                                                <mat-icon matSuffix>view_stream</mat-icon>
                                        </button>
                                </div>
                                <div>
                                        <button mat-icon-button>
                                                <mat-icon matSuffix>settings_applications</mat-icon>
                                        </button>
                                </div>
                                <div>
                                        <button mat-icon-button>
                                                <mat-icon matSuffix>view_comfy</mat-icon>
                                        </button>
                                </div>
                        </div>
                        <div class="profile-button">
                                <button mat-icon-button>
                                        <img id="keep-icon" mat-card-image src="/assets/images/ajay.jpeg" />
                                </button>

                        </div>
                </mat-toolbar>
        </header>
        <div>
                <mat-drawer-container class="side-nav-container" autosize>
                        <mat-drawer #drawer class="sidenav-bar" mode="side">
                                <div>
                                        <div>
                                             <div>      
                                              <button class="sidebar-buttons" mat-stroked-button (click)="notes()">
                                                <mat-icon class="maticons"><img src="/assets/icons/emoji_objects-24px.svg"></mat-icon><span class="sidenavtext">Notes</span>
                                               </button>
                                            </div>
                                            <div>
                                              <button  class="sidebar-buttons" mat-stroked-button (click)="reminderNote()">
                                                        <mat-icon class="maticons">notifications_none</mat-icon><span class="sidenavtext">Reminder</span>
                                              </button>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div>
                                         <div class="label-div">       
                                         <label>LABELS</label>
                                        </div>
                                        <div fxLayout="column" *ngFor="let label of Label">
                                                <button class="sidebar-buttons" mat-stroked-button>
                                                   <mat-icon class="maticons"><img src="/assets/icons/label-24px.svg"></mat-icon><span class="sidenavtext">{{ label.labelName }}</span>
                                                </button> 
                                        </div>
                                        <div>
                                               <button  class="sidebar-buttons" mat-stroked-button (click)="openEditlabelDailog()">
                                                   <mat-icon class="maticons"><img src="/assets/icons/edit.svg"></mat-icon><span class="sidenavtext">Edit labels</span>
                                                </button> 
                                        </div>
                                       </div>
                                        <mat-divider></mat-divider> 
                                        <div>
                                            <div>
                                                <button class="sidebar-buttons" mat-stroked-button (click)="archivedNotes()">
                                                    <mat-icon class="maticons"><img src="/assets/icons/archive-24px.svg"></mat-icon><span class="sidenavtext">Archive</span>
                                                </button>
                                            </div>
                                            <div>
                                                <button  class="sidebar-buttons" mat-stroked-button (click)="trashNotes()">
                                                    <mat-icon class="maticons">delete_outline</mat-icon><span class="sidenavtext">Trash</span>
                                                </button>
                                            </div>
                                        </div>
                                </div>
                        </mat-drawer>
                        <div class="view-content">
                                
                                 <router-outlet></router-outlet>
                        </div>
                </mat-drawer-container>
        </div>
</div>