 
    <div fxLayout="column" fxLayoutAlign="space-around center" class="container">
        <mat-card > 
          <form [formGroup]="resetForm">
            <h2>RESET PASSWORD</h2>
              <div class="form-field">
              <mat-form-field appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput placeholder="Enter password" formControlName="password">
                    </mat-form-field>
              </div>
          <div class="form-field">
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Re-Enter password" formControlName="confirmPassword">
              </mat-form-field>
          </div>

              <button mat-raised-button color="primary" (click) = "onSubmitReset()">submit</button>
              <br><br>
              <div>
              <a routerLink= '/registration' routerLinkActive = 'active'>Registration</a>/
              <a routerLink= '/forgetPassword' routerLinkActive = 'active'>Forget Password</a>
             </div>
           </form>
           
          </mat-card>
          </div>
      

