 
    <div fxLayout="column" fxLayoutAlign="space-around center" class="container">
        <mat-card > 
          <form [formGroup]="resetForm">
            <h2>RESET PASSWORD</h2>
              <div class="form-field">
                  <mat-form-field appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="password">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="resetForm.get('password').hasError('required')">
                          Please fill out this field.
                        </mat-error>
                        <mat-error *ngIf="resetForm.get('password').hasError('minLength')">
                          Password min length must be 6 digit.
                        </mat-error>
                    </mat-form-field>
              </div>
          <div class="form-field">
              <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="resetForm.get('confirmPassword').hasError('required')">
                    Please fill out this field.
                  </mat-error>
                  <mat-error *ngIf="resetForm.get('confirmPassword').hasError('matchValues')">
                    Passwords do not match
                </mat-error> 
                </mat-form-field>
          </div>

              <button mat-raised-button color="primary" (click) = "onSubmitReset()">submit</button>
              <br><br>
              <div>
              <a routerLink= '/registration' routerLinkActive = 'active'>Registration</a>/
              <a routerLink= '/forgetPassword' routerLinkActive = 'active'>Forget Password</a>
             </div>
           </form>
          </mat-card>
          </div>
      

