
    <div fxLayout="column" fxLayoutAlign="space-around center" class="container">
        <mat-card > 
          <form [formGroup]="forgetForm">
            <h2>FORGET PASSWORD</h2>
              <div class="form-field">
                      <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput placeholder="Placeholder" formControlName="email">
                      </mat-form-field>
              </div>

              <button mat-raised-button color="primary" (click) = "onSubmitForget()">submit</button>
              <br><br>
              <div>
              <a routerLink= '/registration' routerLinkActive = 'active'>Registration</a>
             </div>
           </form>
          </mat-card>
          </div>
      
