
    <div fxLayout="column" fxLayoutAlign="space-around center" class="container">
        <mat-card > 
          <form [formGroup]="forgetForm">
            <h2>FORGET PASSWORD</h2>
              <div class="form-field">
                      <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput type="email" placeholder="Enter email" formControlName="email">
                              <mat-icon matSuffix>email</mat-icon>
                              <mat-error *ngIf="forgetForm.get('email').hasError('required')">
                                  Please fill out this field.
                               </mat-error>
                               <mat-error *ngIf="forgetForm.get('email').hasError('email')">
                                  invalid email id.
                                </mat-error>
                      </mat-form-field>
              </div>

              <button mat-raised-button color="primary" (click) = "onSubmitForget()">submit</button>
              <br><br>
              <div>
              <a routerLink= '/registration' routerLinkActive = 'active'>Registration</a>
             </div>
           </form>
          </mat-card>
          </div>
      
