 
    <div fxLayout="column" fxLayoutAlign="space-around center" class="container">
      <mat-card > 
        <form [formGroup]="registerForm">
          <div class="title">
          <h2>REGISTRATION</h2>
         </div>
          <div class="form-field" > 
            <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Enter first name" formControlName="firstName">
                  </mat-form-field>
           </div>  
             
           <div class="form-field"> 
            <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter last name" formControlName="lastName">
                  </mat-form-field>
           </div>

            <div class="form-field">
                    <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter email" formControlName="email">
                    </mat-form-field>
            </div>

            <div class="form-field">
            <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Enter mobile number" formControlName="mobileNumber">
                  </mat-form-field>
            </div>

            <div class="form-field">
            <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter password" formControlName="password">
            </mat-form-field>
            </div>

            <div class= "link-div">
            <div class="link">
              <a routerLink = '/login' routerLinkActive = 'active'>Login</a>/
              <a routerLink = '/forgetPassword' routerLinkActive = 'active'>Forget Password</a>
            </div>

            <div class="button">
            <button mat-raised-button color="primary" (click) = "onSubmit()">submit</button>
            </div>
          </div>
         </form>
        </mat-card>
        </div>
    